<nav class="navbar navbar-default">
  	<div class="container-fluid">
		<div class="navbar-header">
	  		<button type="button" class="btn btn-success mb-2 navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				
	  		</button>
	  	<%= link_to root_path, class: 'navbar-brand' do %>
				User Info
	  		<% end %>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
	  		<ul class="nav navbar-nav navbar-right">
	  			<% if user_signed_in? %>
					<li>
						<%= link_to logout_path, method: :delete do %>
		  					<span class="glyphicon glyphicon-off"> </span>
		  					Sign Out
						<% end %>
					</li>
	  			<% else %>
	  				<li>
						<%= link_to new_user_session_path do %>
			  				<span class="glyphicon glyphicon-log-in"> </span> Sign In
						<% end %>
					</li>
	  			<% end %>
	  		</ul>
		</div>
  	</div>
</nav>
